<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
</head>
<style>
    body {
        background-image: url('/static/bg.png');
        width: 100%;
        height: 1000px;
        background-size: cover;
        background-position: center;

    } 

</style>
<body>
    <div class="jumbotron" style="background:rgba(250, 250, 250, 0.658) ;">
        <h1>Enter Details Of Medicine:</h1>
    <form method="POST">
        <div class="form-group">
          <label for="part">Namr Of Medicine:</label>
          <input type="text" class="form-control" id="part" name="part">
        </div>
        <div class="form-group">
          <label for="type">Type Of Surgery:</label>
          <input type="text" class="form-control" id="type" name="type">
        </div>
        <div class="form-group">
            <label for="purpose">Purpose:</label>
            <textarea class="form-control" rows="2" id="purpose" name="purpose"></textarea>
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="form-group">
            <label for="recovery">Time Of Medicine:</label>
            <input type="time" class="form-control" id="recovery" name="recovery">
        </div>   
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
    </div>
</body>
</html>